/* Spacing helpers
---------------------------- */
.no-mg {
  margin: 0 !important;
}

.no-mg-t {
  margin-top: 0 !important;
}

.no-mg-r {
  margin-right: 0 !important;
}

.no-mg-b {
  margin-bottom: 0 !important;
}

.no-mg-l {
  margin-left: 0 !important;
}

.no-pd {
  padding: 0 !important;
}

.no-pd-t {
  padding-top: 0 !important;
}

.no-pd-r {
  padding-right: 0 !important;
}

.no-pd-b {
  padding-bottom: 0 !important;
}

.no-pd-l {
  padding-left: 0 !important;
}

$margins: 150px, 140px, 130px, 120px, 110px, 100px, 90px, 80px, 70px, 60px, 50px, 40px, 30px, 20px, 10px, 5px;
$margins-names: "-150", "-140", "-130", "-120", "-110", "-100", "-90", "-80", "-70", "-60", "-50", "-40", "-30", "-20", "-10", "-5";

@for $i from 1 through length($margins) {
  $name: nth($margins-names, $i);
  $margin: nth($margins, $i);

  .mg#{$name} {
    margin: $margin;
  }

  .pd#{$name} {
    padding: $margin;
  }

  .mg-t#{$name} {
    margin-top: $margin;
  }

  .mg-r#{$name} {
    margin-right: $margin;
  }

  .mg-b#{$name} {
    margin-bottom: $margin;
  }

  .mg-l#{$name} {
    margin-left: $margin;
  }

  .pd-t#{$name} {
    padding-top: $margin;
  }

  .pd-r#{$name} {
    padding-right: $margin;
  }

  .pd-b#{$name} {
    padding-bottom: $margin;
  }

  .pd-l#{$name} {
    padding-left: $margin;
  }
}

section .container, .page-content {
  position: relative;
  z-index: 1;
}
